.hero {
    display: flex;
    flex-direction: column;
    background-color: $darkCyan;
    border-radius: 0.625rem;
    margin: 5.5rem 1.5625rem;
    &__item {
        padding: 3.125rem;
        &:first-child {
            background-color: $brightOrange;
            border-radius: 0.625rem 0.625rem 0 0;
        }
        &:last-child {
            background-color: $veryDarkCyan;
            border-radius: 0 0 0.625rem 0.625rem;
        }
        h1 {
            font-size: 2.25rem;
            text-transform: uppercase;
        }
    }
    &__icon {
        margin-bottom: 2.5rem;
    }
    &__description {
        font-size: 0.9375rem;
        line-height: 1.8;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    &__cta {
        text-align: center;
        display: inline-block;
        font-size: 0.875rem;
        background-color: $veryLightGray;
        width: 9.375rem;
        height: 3.125rem;
        border: none;
        border-radius: 2rem;
        padding-top: 0.9375rem;
        border: 2px solid $veryLightGray;
        transition: background-color 200ms ease-in-out;
    }
    .cta1 {
        color: $brightOrange;
        &:hover {
            background-color: $brightOrange;
            color: $veryLightGray;
        }
    }
    .cta2 {
        color: $darkCyan;
        &:hover {
            background-color: $darkCyan;
            color: $veryLightGray;
        }
    }
    .cta3 {
        color: $veryDarkCyan;
        &:hover {
            background-color: $veryDarkCyan;
            color: $veryLightGray;
        }
    }
}